*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    padding: 20px;
    

}
.container{
    width: 1242px;
    height: 959px;
    background: #F7F7FB;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    padding: 80px 20px;
    
}
@mixin  card_frame($border_color) {
    width: 896px;
    height: auto;
    padding: 20px 40px;
    background: #FFFFFF;
    border: 2px solid $border_color;
    box-shadow: 0px 6px 16px rgba(74, 58, 255, 0.19);
    border-radius: 14px;
}

.card_container{
    // @include card_frame(#4A3AFF)
    @include card_frame(#fff)
}
.card_container.active{
    @include card_frame(#4A3AFF);
}

@mixin  toggle_btn_frame($bg_color) {
    width: 50px;
    height: 50px;
    background: $bg_color;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    border-radius: 50%;
    border: none;
    
}
.card_header{
    display: flex;
    justify-content: space-between;
    & .header{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: #170F49;
    }
    & .btn_active.collapsed{
        @include toggle_btn_frame(#FFFFFF);
        background-image: url(non_active_dropdown.png);
        background-repeat: no-repeat;
        
        background-position: center;
        
    }

    & .btn_active{
        @include toggle_btn_frame(#4A3AFF);
        background-image: url(active_dropdown.png);
        background-repeat: no-repeat;
        background-position: center;
        
        
    }
}
// .card_header .header_text{
    
// }




